---
import { Icon } from "astro-icon/components"
import { getCollection } from "astro:content"

import BaseHead from "../../components/BaseHead.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import FormattedDatePT from "../../components/FormattedDatePT.astro"
import FormattedDateUS from "../../components/FormattedDateUS.astro"

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
)
---

<!doctype html>
<html>
  <head>
    <BaseHead title={`Blog | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 720px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .date {
        margin: 0;
        color: var(--black-primary);
      }
      @media (max-width: 720px) {
        ul li {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <Header client:visible />

    <main transition:animate="slide">
      <section>
        <ul>
          {
            posts.reverse().map(post => (
              <li class="blog-post">
                <a href={`/blog/${post.slug}/`}>
                  <h4 class="title title--blog">{post.data.title}</h4>
                </a>

                <div class="container-blog container-blog--gap-large">
                  {post.data.language === "pt-BR" ? (
                    <Icon name="openmoji:flag-brazil" size={22} />
                  ) : (
                    <Icon name="openmoji:flag-united-states" size={22} />
                  )}

                  <div class="container-blog container-blog--gap-small">
                    <Icon name="mdi:calendar" size={18} color="#000000" />
                    <p class="date-blog">
                      {post.data.language === "en-US" ? (
                        <FormattedDateUS date={post.data.date} />
                      ) : (
                        <FormattedDatePT date={post.data.date} />
                      )}
                    </p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer client:visible />
  </body>
</html>
