---
import { TypeAnimation } from "react-type-animation"

import BaseHead from "../../components/BaseHead.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main transition:animate="slide">
      <h1>Olá, Eder aqui!</h1>
      <h2>
        Sou

        <TypeAnimation
          client:only
          preRenderFirstString={true}
          sequence={[
            "programador.",
            2000,
            "criador de conteúdo.",
            2000,
            "escritor.",
            2000,
            "editor de vídeos.",
            2000,
            "mais do que apenas um atributo.",
            2000,
          ]}
          wrapper="span"
          cursor={true}
          repeat={Infinity}
          style={{ display: "inline-block" }}
        />
      </h2>
    </main>
    <Footer />
  </body>
</html>
