---
import { TypeAnimation } from "react-type-animation"

import BaseHead from "../../components/BaseHead.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main transition:animate="slide">
      <h1>Sou Eder Christian, um desenvolvedor autodidata brasileiro.</h1>
      <h2>
        Também sou

        <TypeAnimation
          client:only
          preRenderFirstString={true}
          sequence={[
            "criador de conteúdo.",
            2000,
            "escritor.",
            2000,
            "editor de vídeos.",
            2000,
            "mais do que apenas um atributo.",
            2000,
          ]}
          wrapper="span"
          cursor={true}
          repeat={Infinity}
          style={{ display: "inline-block" }}
        />
      </h2>
      <p style="padding-top: 24px;">
        Vim de fora da bolha tradicional da tecnologia.
      </p>
      <p>
        Nada de história clássica do Vale do Silício. O começo foi com um
        MacBook usado, disciplina, muitos erros e uma vontade silenciosa de
        continuar.
      </p>
      <p>
        Em 2018, tive a chance de visitar o Vale enquanto ajudava em um evento
        de tecnologia. Aquela viagem mudou a forma como eu enxergava tecnologia,
        carreira e o que é possível.
      </p>
      <p>
        Minha carreira começou no Brasil, mas minha visão sempre foi global.
        Hoje, trabalho remotamente para uma empresa americana sediada em Nova
        Iorque, construindo uma vida moldada por código, clareza e intenção.
      </p>
      <p>
        Esse é o meu <i><strong>inner commit</strong></i>: continuar construindo
        uma vida que faça sentido. De dentro pra fora.
      </p>
    </main>
    <Footer />
  </body>
</html>
