---
import { ViewTransitions } from "astro:transitions"

import "../styles/globals.css"

interface Props {
  title?: string
  description: string
  image?: string
  noIndex?: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  title,
  description,
  noIndex = false,
  image = "/card-eder-christian.png",
} = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="color-scheme" content="dark" />

{noIndex ? <meta name="robots" content="noindex" /> : null}

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="alternate" type="application/rss+xml" title="Eder Christian: Writing" href="/rss.xml" />

<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-JF93CQ8GYR"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())
  gtag("config", "G-JF93CQ8GYR")
</script>

<ViewTransitions />
