---
import { Icon } from "astro-icon/components"

const today = new Date()

const defaultUsername = "ederchristian"
---

<footer>
  <div class="footer-container">
    <div class="footer-container--wrapper">
      <span style="padding-bottom: 2em;">
        &copy; {today.getFullYear()} Eder Christian. All rights reserved.
      </span>
      <span>AVANTI CODER LTDA | 44.271.549/0001-96</span>
      <span>Av. Engenheiro Luís Carlos Berrini, 1748 - Conjunto 1710</span>
      <span>Cidade Monções, São Paulo - SP</span>
      <span>CEP: 04571-000</span>
      <div class="social-links">
        <a
          href={`https://youtube.com/@${defaultUsername}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:youtube" size={22} />
        </a>
        <a
          href={`https://instagram.com/${defaultUsername}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:instagram" size={22} />
        </a>
        <a
          href={`https://x.com/${defaultUsername}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="pajamas:twitter" size={22} />
        </a>
        <a
          href={`https://github.com/${defaultUsername}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="pajamas:github" size={22} />
        </a>
        <a
          href="mailto:ederchristian92+website@gmail.com"
          target="_blank"
          rel="noreferrer"
        >
          <Icon name="mdi:email-outline" size={22} />
        </a>
      </div>
    </div>
  </div>
</footer>
<style>
  footer {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }
  .footer-container {
    max-width: 720px;
    margin: 64px auto 0;
    font-size: 12px;
    padding-bottom: 4em;
  }
  .footer-container--wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(var(--gray-light));
    padding: 8em 0 4em;
  }
  .social-links {
    display: flex;
    gap: 1em;
    margin-top: 2em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--white-secondary);
  }
  .social-links a:hover {
    color: var(--white-primary);
  }
</style>
